:root {
  --bg-color: #dfd3bb;
  --card-bg: #fdf6e3;
  --primary-green: #748055;
  --text-dark: #4a5035;
  --header-bg: #828a64;
  --accent-yellow: #f1c40f;
}

[data-theme="dark"] {
  --bg-color: #2c2c2c;
  --card-bg: #3d3d3d;
  --text-dark: #f0f0f0;
  --header-bg: #4a5035;
}

* {
  box-sizing: border-box;
}

.app-container {
  background-color: var(--bg-color);
  min-height: 100vh;
  transition: 0.3s;
  overflow-x: hidden;
}

/* Patinhas decorativas */
.pata {
  position: absolute;
  width: 50px;
  opacity: 0.1;
  z-index: 0;
}

.decor-1 {
  top: 40px;
  left: 30px;
}

.decor-2 {
  top: 220px;
  right: 40px;
}

/* HERO */
.hero {
  padding: 60px 0;
}

.hero-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

.hero h1 {
  font-size: 3.2rem;
  font-weight: 900;
  color: var(--text-dark);
}

.hero-image img {
  width: 100%;
  max-width: 100000rem;
  background-color:#4a5035 ;
}

/* Busca */
.search-box {
  position: relative;
  max-width: 360px;
  margin-top: 20px;
}

.search-input {
  width: 100%;
  padding: 12px 20px 12px 45px;
  border-radius: 30px;
  border: 2px solid var(--primary-green);
  background: var(--card-bg);
  color: var(--text-dark);
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

/* Título seção */
.section-title {
  max-width: 1200px;
  margin: 40px auto 10px;
  padding: 0 40px;
  color: var(--text-dark);
}

/* CATÁLOGO */
.catalog {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* CARD */
.cat-card {
  background: var(--card-bg);
  border-radius: 25px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.fav-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.fav-btn.active {
  color: var(--accent-yellow);
}

.cat-image-container img {
  width: 100%;
  height: 220px;
  object-fit: contain;
}

.cat-info h3 {
  margin: 0;
  color: var(--text-dark);
}

.cat-info p {
  font-size: 0.9rem;
  color: var(--text-dark);
}

.adopt-btn {
  margin-top: auto;
  background: var(--primary-green);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 14px;
  font-weight: bold;
  cursor: pointer;
}



/* RESPONSIVO */
@media (max-width: 900px) {
  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-image {
    display: flex;
    justify-content: center;
  }

  .catalog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .catalog {
    grid-template-columns: 1fr;
  }
}
